@import "tailwindcss";

 @plugin "daisyui" {
  themes: light --default;
 }
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
}






.btn-btns {
  @apply inline-flex items-center justify-center gap-2 px-6 py-3 rounded-xl font-semibold text-white 
  bg-gradient-to-r from-purple-600 via-fuchsia-500 to-pink-500 
  hover:scale-105 hover:shadow-xl transition-all duration-300;
}








.btn-blue {
  @apply inline-flex items-center justify-center gap-2 px-6 py-3 rounded-xl font-semibold text-white
  bg-gradient-to-r from-sky-500 via-blue-600 to-indigo-500
  hover:scale-105 hover:shadow-xl transition-all duration-300;
}





